*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background: url(/images/background.jpg);
}
.search-box{
    position: absolute;
    top: 30%;
    left: 49%;
    background-color: #fff;
    opacity: 70%;
    height: 40px;
    transform: translate(-50%,-50%);
    border-radius: 20px;
    padding: 10px;
}

.search-icon{
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding-bottom: 18px;
    padding-top: 2px;
    padding-left: 2px;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}
.search-box:hover > #input-search-box{
    width: 340px;
    padding-top: 2px;
}
.search-box:hover > .search-icon{
    color: orange;
}
#input-search-box{
    border: none;
    background: none;
    color: black;
    font-size: 16px;
    outline: none;
    transition: 0.4s;
    width: 0px;
}
.search-box a{
    text-decoration: none;
    color: black;
}
#box{
    background: #fff;
    margin-top: 250px;
    margin-left: 380px;
    opacity: 70%;
    height: 205px;
    width: 500px;
    border-radius: 15px;
}
#img1{
    height: 40px;
    float: left;
    margin-left: 180px;
    margin-right: 15px;
}
p{
    padding: 15px;
}
#p1{
    text-align: center;
}
#p2{
    text-align: center;
}
#p3{
    text-align: center;
    margin-right: 500px;
    margin-left: 100px;
}
#p4{
    text-align: center;
}